@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  padding: 15px; 
}

.slide:before {
  content: '';
  display: block;
  position: absolute;
  width: 110%;
  height: 110%;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  backdrop-filter: blur(1px);
}

.slide_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
}

.slide_wrap__round {
  width: 40px;
  height: auto;
  border-radius: 100%;
  background-color: #444;
  margin-right: 12px;
}

.slide_wrap h3 {
  font-size: 19px;
  bottom: 40px;
  left: 20px;
  margin: 0;
}

.slide_wrap a {
  font-size: 15px;
  color: #6fa6dd;
  bottom: 20px;
  left: 20px;
  text-decoration: none;
}

.slide_wrap a:hover {
  color: #fff;
}

.slide.active {
  flex: 7;
}

.slide.active .slide_wrap {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.slide.active:before {
  display: none;
}
